*.csv filter=lfs diff=lfs merge=lfs -text
*.csv.bz2 filter=lfs diff=lfs merge=lfs -text
*.xml filter=lfs diff=lfs merge=lfs -text
*.xml.bz2 filter=lfs diff=lfs merge=lfs -text
*.bz2 filter=lfs diff=lfs merge=lfs -text
